* {
    margin: 0px;
    padding: 0px;
  }
  body {
    font-size: 120%;
    background-image: url("https://i.pinimg.com/564x/38/7e/2d/387e2d70ee7cdcc9f1cd3056b921a705.jpg");
    background-color: #0d0e05;
  }
  
  .header {
    width: 30%;
    margin: 50px auto 0px;
    color: rgb(15, 14, 14);
    background: #f1f1ef;
    text-align: center;
    border: 1px solid #032e16;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
  }
  form, .content {
    width: 30%;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid #4b0a0a;
    background: rgb(209, 195, 195);
    border-radius: 0px 0px 10px 10px;
  }
  .input-group {
    margin: 10px 0px 10px 0px;
  }
  .input-group label {
    display: block;
    text-align: left;
    margin: 3px;
    color: rgb(15, 14, 14)
  }
  .input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
  }
  .btn {
    padding: 10px;
    font-size: 15px;
    color: rgb(245, 236, 236);
    background: #41090e;
    border: none;
    border-radius: 5px;
  }
  .error {
    width: 92%; 
    margin: 0px auto; 
    padding: 10px; 
    border: 1px solid #a94442; 
    color: #a94442; 
    background: #f2dede; 
    border-radius: 5px; 
    text-align: left;
  }
  .success {
    color: #3c763d; 
    background: #dff0d8; 
    border: 1px solid #3c763d;
    margin-bottom: 20px;
  }